<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Upload de imagens<h2>
    <form action="/photos" enctype="multipart/form-data" method="POST">
        <input type="text" placeholder="Nome" name="title">
        <input type="file"name="image">
        <button type="submit">Submit</button>
    </form> 

</body>
</html>