<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Visualização de imagens<h2>
    <form action="/photos" enctype="multipart/form-data" method="GET">
        <button type="submit">Criar nova foto</button>
    </form> 

</body>
</html>